/* Base styles - Hager builds on this */

:root {

    --main-color: #7950f3;
    --bg-color: #190a28;
    --text-color: white;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: bg-color;
    color: var(--text-color);
    text-align: center;
    padding: 20px;
}

.title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.main-box {    background: var(--main-color);
    border-radius: 12px;
    padding: 50px;
    width: 400px;
    margin: 0 auto;
    
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.panel {
    background: var(--main-color);
    border-radius: 12px;
    padding: 20px;
    width: 350px;
}

#video {
    width: 100%;
    border-radius: 8px;
    border-color: orange;
}

#meme-display {
    width: 100%;
    border-radius: 8px;
}
