<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Meme Matcher</title>
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
    <div class="main-box">
    <h1 class="title">Welcome to Meme-Me!</h1>
    <p>Meme me is a application captures your expressions into memes!</p>
    <p>To get started, we require face camera click the button be</p>
    </div>
    <a href="meme-me.html"><button class="button">Start Meme-Me</button></a>
    
</body>
</html>